<mat-card class="shipping-card">
    <mat-card-header>
        <mat-card-title>Machine configuration</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div cdkDropListGroup>
            <div class="chain-container">
              <h2>Main</h2>
          
              <div
                cdkDropList
                [cdkDropListData]="MainChain"
                class="chain-list"
                (cdkDropListDropped)="onMainChainDropped($event)">
                <div class="link-box" *ngFor="let item of MainChain" cdkDrag><b>{{item.Name}}</b>
                    <i>{{item.ID}} <u>{{item.TypeName}}</u></i></div>
              </div>
            </div>
          
            <div class="chain-container">
              <h2>Free links</h2>
          
              <div
                cdkDropList
                cdkDropListSortingDisabled
                [cdkDropListData]="FreeLinks"
                class="chain-list"
                (cdkDropListDropped)="onMainFreeLinksDropped($event)">
                <div class="link-box" *ngFor="let item of FreeLinks" cdkDrag><b>{{item.Name}}</b>
                    <i>{{item.ID}} <u>{{item.TypeName}}</u></i></div>
              </div>
            </div>
            <div class="chain-container">
                <h2>Table</h2>
            
                <div
                  cdkDropList
                  [cdkDropListData]="TableChain"
                  class="chain-list"
                  (cdkDropListDropped)="onTableChainDropped($event)">
                  <div class="link-box" *ngFor="let item of TableChain" cdkDrag><b>{{item.Name}}</b>
                      <i>{{item.ID}} <u>{{item.TypeName}}</u></i></div>
                </div>
              </div>
          </div>
        <div class="row">
            <div class="col">
                <button mat-raised-button color="primary" 
                type="button"
                (click)="onNewLink()"
                >New link</button>                   
                <button mat-raised-button color="primary" 
                type="button"
                (click)="onSave()"
                >Save</button>                   
            </div>
        </div>
      </mat-card-content>
</mat-card>