<mat-card class="shipping-card">
    <mat-card-header>
        <mat-card-title>Machine link editor</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div>
            Machine name: <i>{{machineService.machine.Name}}</i>
        </div>
        <div class="row">
            <div class="col">
                <mat-form-field class="full-width">
                    <mat-label>Select link to edit</mat-label>
                    <mat-select [(ngModel)]= "Link"
                    (selectionChange)="onSelectionChange($event)"
                    >
                        <mat-option *ngFor="let l of Links" [value]="l"><div class="link-menu"><b>{{l.Link.Name}}</b>
                            <i>{{l.Link.ID}} <u>{{l.Class}} {{l.Link.TypeName}}</u></i></div></mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        <ng-container *ngIf="Link">
            <div class="row">
                <div class="col">
                    <mat-form-field class="full-width">
                        <mat-label>Link ID</mat-label>
                        <input [(ngModel)]="Link.Link.ID" matInput placeholder="Enter link ID">
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <mat-form-field class="full-width">
                        <mat-label>Link name</mat-label>
                        <input [(ngModel)]="Link.Link.Name" matInput placeholder="Enter link name">
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <mat-form-field class="full-width">
                    <mat-label>Select link type</mat-label>
                    <mat-select [(value)]="Link.Link.Type">
                        <mat-option *ngFor="let type of linkTypes" [value]="type.type">{{type.name}}</mat-option>
                    </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <ng-container *ngIf="isLinearOrRotary">
                <div class="row">
                    <div class="col">
                        <mat-form-field class="full-width">
                        <mat-label>Select link state</mat-label>
                        <mat-select [(value)]="Link.Link.State">
                            <mat-option *ngFor="let type of linkStates" [value]="type.type">{{type.name}}</mat-option>
                        </mat-select>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <mat-form-field class="full-width">
                        <mat-label>Select link state</mat-label>
                        <mat-select [(value)]="Link.Link.State">
                            <mat-option *ngFor="let type of linkStates" [value]="type.type">{{type.name}}</mat-option>
                        </mat-select>
                        </mat-form-field>
                    </div>
                </div>
                <mat-form-field class="full-width">
                    <mat-label>Home position</mat-label>
                    <input matInput placeholder="Home position" width=8 type="number"
                    [(ngModel)] = "link.Link.Home"
                    >
                </mat-form-field>
                <mat-form-field class="full-width">
                    <mat-label>Minimum</mat-label>
                    <input matInput placeholder="Minimum" width=8 type="number"
                    [(ngModel)] = "link.Link.Minimum"
                    >
                </mat-form-field>
                <mat-form-field class="full-width">
                    <mat-label>Maximum</mat-label>
                    <input matInput placeholder="Maximum" width=8 type="number"
                    [(ngModel)] = "link.Link.Maximum"
                    >
                </mat-form-field>
                <mat-form-field class="full-width">
                    <mat-label>Offset</mat-label>
                    <input matInput placeholder="Offset" width=8 type="number"
                    [(ngModel)] = "link.Link.Offset"
                    >
                </mat-form-field>
                <mat-form-field class="full-width">
                    <mat-label>Weight</mat-label>
                    <input matInput placeholder="Weight" width=8 type="number"
                    [(ngModel)] = "link.Link.Weight"
                    >
                </mat-form-field>
                <div class="row">
                    <div class="col label">
                    Position {{Link.Link.Position}}
                    <mat-slider [min]="MinPosition" [max]="MaxPosition" [step]="PositionStep"
                    (input)="onPositionChanged($event)"
                    [(value)]="Link.Link.Position"
                    ></mat-slider>
                    </div>
                </div>
                </ng-container>
            <div class="full-width">
                <app-transform-editor
                    Label="Base transform"
                    [Transform]="link.Link.Base"
                    (changeTransform)="onChangeTransformBase($event)"
                ></app-transform-editor>
                <app-transform-editor
                    Label="Attachment transform"
                    [Transform]="link.Link.Attachment"
                    (changeTransform)="onChangeTransformAttachment($event)"
                ></app-transform-editor>
            </div>
        </ng-container>
    </mat-card-content>
    <div class="row">
        <div class="col">
            <button mat-raised-button color="primary" 
            type="button"
            [disabled]="!link || !link.Link.Parent"
            (click)="copyBaseFromParentAttachment()"
            >Copy base from parent attachment</button>                   
        </div>
    </div>
</mat-card>
