<mat-card class="shipping-card">
    <mat-card-header>
        <mat-card-title>Machine controls</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div>
            Machine name: <i>{{machineService.machine.Name}}</i>
        </div>
        <ng-container *ngIf="MainControls">
            <h2>Main controls</h2>
            <div *ngFor="let l of MainControls">
                <app-machine-control
                    [Link]="l"
                    (updateLink)="onLinkUpdate($event)"
                ></app-machine-control>
            </div>
        </ng-container>
        <ng-container *ngIf="TableControls">
            <h2>Table controls</h2>
                <div *ngFor="let l of TableControls">
                    <app-machine-control
                        [Link]="l"
                        (updateLink)="onLinkUpdate($event)"
                    ></app-machine-control>
                </div>
        </ng-container>
        <mat-checkbox [(ngModel)]="ShowDefault">Show default graphics</mat-checkbox>
    </mat-card-content>
</mat-card>
