<div [style.width.px]="Width" [style.height]="'100%'" (resized)="onResized($event)">
    <as-split direction="horizontal">
        <as-split-area size="79">
            <ngx-file-drop 
            [dropZoneClassName]="'scene-dropzone-content'"
            [contentClassName]="'scene-dropzone-content'"
                (onFileDrop)="dropped($event)" 
                (onFileOver)="fileOver($event)" 
                (onFileLeave)="fileLeave($event)">
                <ng-template ngx-file-drop-content-tmp let-openFileSelector="openFileSelector">
                        <app-scene-view #ThreeJSView [AreaWidth]="Width" [AreaHeight]="Height"></app-scene-view>
                </ng-template>
            </ngx-file-drop>
        </as-split-area>
        <as-split-area size="21">
            <mat-tab-group class="tabheader"
            (selectedTabChange)="onSelectedTabChange($event)"
            >
            <mat-tab label="Machine" class="tabheader">
                <app-machine-editor
                    (changeMachine)="onMachineChanged($event)"
                ></app-machine-editor>
            </mat-tab>
            <mat-tab label="Links" class="tabheader">
                <app-link-editor #linkEditor
                    (changeLink)="onChangeLink($event)"
                ></app-link-editor>
            </mat-tab>
            <mat-tab label="Controls" class="tabheader">
                <app-machine-controls #machineControls
                    (updateLink)="onChangeLink($event)"
                ></app-machine-controls>
            </mat-tab>
            <mat-tab label="Scene" class="tabheader">
                    <app-scene-editor (sceneChanged)="onSceneChange($event)"></app-scene-editor>
            </mat-tab>
            </mat-tab-group>
                
        </as-split-area>
    </as-split>
</div>
